.App {
  text-align: center;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
}

img {
  max-height: 175px;
  box-shadow: 1px 1px 10px;
}

card {
  max-height: 175px;
}


@media (max-width: 680px) {
  img{margin-bottom: 20px;}
}
